@import "tailwindcss";
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
  font-family: 'Cafe24SsurroundAir', sans-serif;
}

@layer utilities {
  .soft-card {
    background: white;
    box-shadow:
      0 10px 30px rgba(0, 0, 0, 0.04);
  }

  .soft-button {
    background: white;
    box-shadow:
      0 6px 16px rgba(0, 0, 0, 0.06);
  }

  .soft-button:active {
    box-shadow:
      inset 0 4px 8px rgba(0, 0, 0, 0.06);
  }
  .font-title {
    font-family: "Baloo 2", cursive !important;
  }
}
